.calcBody {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: end;
  user-select: none;
}

.containerLeft {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.containerRight {
  float: right;
  width: 600px;
  background-color: #202020;
}
.containerTop {
  height: 25vh;
  background-color: #202020;
  color: #ffffff;
  font-size: 4em;
  text-align: end;
  padding-right: 10px;
  word-wrap: break-word;
  overflow: auto;
  display: flex;
  justify-content: top;
  flex-direction: column;
  font-weight: bold;
  /* max-width: 50vw; */
}

.operacoes {
  height: 25vh;
  font-size: 1.5em;
  text-align: end;
  color: #ffffff;
  background-color: #202020;
  padding-right: 10px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  font-weight: bold;
  /* letter-spacing: 5px; */
}

.containerTop::-webkit-scrollbar {
  width: 5px;
}

.containerTop::-webkit-scrollbar-button {
  display: none;
}

.containerTop::-webkit-scrollbar-track-piece {
  background-color: #202020;
}

.containerTop::-webkit-scrollbar-thumb {
  background-color: gray;
}

.sacao {
  background-color: white;
}

.containerBot {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #202020;
}
.tecla {
  border: none;
  border-radius: 3px;
  margin: 2px;
  font-size: 1.4em;
  background-color: #3c3c3c;
  color: #ffffff;
}
.dif {
  background-color: #323232;
}
.dif2 {
  background-color: #535353;
}
.tecla:hover {
  background-color: #323232;
}
.dif:hover {
  background-color: #3c3c3c;
}

@media (max-width: 600px) {
  .containerRight {
    display: none;
  }
}
